/aceptar-48px.png
/agregarImpresora-48px.png
/análisisStock-48px.png
/añadir-48px.png
/búsqueda-48px.png
/cajaNueva-48px.png
/cerrar-ventana-48px.png
/eliminar-48px.png
/empresa-48px.png
/icono.png
/impresora-48px.png
/informes-48px.png
/modificar-48px.png
/movimiento-de-stock-48px.png
/nueva-compañía-48px.png
/presentacion.png
/producto-nuevo-48px.png
/proveedor-48px.png
/salidaMercaderia-48px.png
